
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" id="topbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Home</a>

    </div>
    <div id="navbar" class="navbar-collapse collapse" >
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="user.loggedIn"><a routerLink="/dashboard">{{ user.info.username }}</a></li>
        <li *ngIf="!user.loggedIn"><a routerLink="/auth/login">Login</a></li>
        <li *ngIf="user.loggedIn"><a (click)="logout()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>